* @sruthishtechnologies

/charts/ @sruthishtechnologies
/envs/prod/ @sruthishtechnologies
/argocd-apps/ @sruthishtechnologies
/policies/ @sruthishtechnologies
/.github/workflows/ @sruthishtechnologies
